@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: regular;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller';
  font-size: 16px;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.h1, h2, h3, h4, h5 {
  margin: 0;
}

.section-heading {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-left: 40px;
  margin-bottom: 20px;

}

.btn {
  line-height: 16px;
  border: solid 1px #CC9933;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 13px 20px;
  color: #CC9933;
}

.btn:hover {
  cursor: pointer;
  background-color: #f1f0f0
}

/*Header*/
.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-first-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.header-first-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-first-login {
  line-height: 16px;
  color: #CC9933;
  background: url('../img/keyboard_tab.svg') center left no-repeat;
  padding-left: 30px;
}

.header-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.header-second-left-section-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.header-second-left-section-item-link {
  color: #666666;
}

.rectangle {
  width: 1px;
  height: 50px;
  background-color: #E1E1E1;
}

.header-second-right-section {
  display: flex;
  gap: 40px;
}

/* Special */
.section-special-bloks-list {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  grid-template-rows: repeat(2, 256px);
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  margin-bottom: 70px;
}

.section-special-bloks-item {
  position: relative;
  padding: 40px;
}

.section-special-bloks-item_a,
.section-special-bloks-item_b {
  background: url('../img/darken.png');
}

.section-special-bloks-item_a {
  grid-area: a;
}

.section-special-bloks-item_b {
  grid-area: b;
}

.section-special-bloks-item_big {
  grid-area: c;
}

.section-special-bloks-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 15px;
}

.section-special-bloks-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #FFFFFF;
  width: 300px;
  margin-bottom: 15px;
}

.section-special-bloks-header-big {
  font-size: 60px;
  line-height: 60px;
  margin-top: 170px;
}

.section-special-bloks-price {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 80%;
  margin-bottom: 47px;
}

.section-special-bloks-price-big {
  font-size: 30px;
  line-height: 30px;
}

.section-special-bloks-detailed {
  display: inline-block;
  line-height: 16px;
  color: #FFCC66;
  background: url('../img/rectangle-1.svg') no-repeat right center;
  padding-right: 15px;
}

/* About us */
.section-about-us-container {
  margin-bottom: 70px;
}

.section-about-us-text {
  max-width: 888px;
  line-height: 32px;
}

/* Services */
.section-services-container {
  margin-bottom: 70px;
}

.section-services-cards-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  gap: 23px;
}

.section-services-cards-item {
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
}

.section-services-cards-img {
  width: 100%;
}

.section-services-cards-text-container {
  padding: 26px 45px;  
}

.section-services-cards-header {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #CC9933;
  background: url('../img/rectangle-2.svg') no-repeat right center ;
  padding-right: 15px;
}

.section-services-cards-text {
  line-height: 32px;
  width: 402px;
  margin: 0;
}

.section-services-cards-text-banquet {
  width: 380px;
}

/* Advantages */
.advantages-container {
  margin-bottom: 70px;
}

.section-advantages-cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 275px);
  gap: 23px;
}

.section-advantages-cards-item {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 116px 42px 32px 45px;
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-cards-item-bathtub {
  background-image: url('../img/bathtub.svg');
}

.section-advantages-cards-item-hanger {
  background-image: url('../img/hanger.svg');
}

.section-advantages-cards-item-heating {
  background-image: url('../img/heating.svg');
}

.section-advantages-cards-item-hotel-key {
  background-image: url('../img/hotel-key.svg');
}

.section-advantages-cards-item-parking {
  background-image: url('../img/parking.svg');
}

.section-advantages-cards-item-reception {
  background-image: url('../img/reception.svg');
}

.section-advantages-cards-item-security-box {
  background-image: url('../img/security-box.svg');
}

.section-advantages-cards-item-swimming-pool {
  background-image: url('../img/swimming-pool.svg');
}

.section-advantages-cards-text {
  margin: 0;
  line-height: 32px;
}

/* Placement */
.placement-container {
  margin-bottom: 70px;
}

.section-placement-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 440px);
  gap: 23px;
}

.section-placement-card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
}

.section-placement-card-price-rating-container {
  display: flex;
  justify-content: space-between;
}

.section-placement-card-rating-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.section-placement-card-rating-container > img {
  width: 14px;
  height: 14px;
  margin: 0;
}

.section-placement-card-price-container {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.section-placement-card-box {
  padding: 32px 45px 45px 45px;
}

.section-placement-card-price-from {
  line-height: 16px;
  color: #999999;
  margin: 0;
}

.section-placement-card-price-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-right: 6px;
  margin: 0;
}

.section-placement-card-price-night {
  line-height: 16px;
  margin: 0;
}

.section-placement-card-price-rating-container {
  margin-bottom: 16px;
}

.section-placement-card-hotel {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.section-placement-card-place {
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: #999999;
}

.section-placement-card-img-last {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.section-placement-card-link-container {
  display: flex;
  justify-content: center;
}

.section-placement-card-link {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-top: 373px;
  color: #FFFFFF;
  background: url('../img/rectangle-3.svg') no-repeat center right;
  padding-right: 15px;
}
