@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

:root {
  --color-orange: #CC9933;
  --color-white: #FFFFFF;
  --color-gray: #666666;
  --color-light-gray:#999999;
  --color-light-white-gray: #E9E9E9;
  --color-light-orange: #ffbf40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muller';
  font-size: 16px;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
  transition: color 1s linear;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.h1, h2, h3, h4, h5 {
  margin: 0;
}

.section-heading {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-left: 40px;
  margin-bottom: 20px;

}

.btn {
  line-height: 16px;
  border: solid 1px var(--color-orange);
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 13px 20px;
  color: var(--color-orange);
  transition:background-color 1s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #f1f0f0;
}

/*Header*/
.header {
  margin-top: 30px;
  margin-bottom: 70px;
}

.header-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-first-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.header-first-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-gray);
}

.header-first-phone:hover {
  color: #353535;
  text-decoration: underline;
}

.header-first-login {
  line-height: 16px;
  color: var(--color-orange);
  background: url('../img/keyboard_tab.svg') center left no-repeat;
  padding-left: 30px;
}

.header-first-login:hover {
  color: #997326;
  text-decoration: underline;
}

.header-second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.header-second-left-section-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.header-second-left-section-item-link {
  color: var(--color-gray);
}

.header-second-left-section-item-link:hover {
  color: #b4b4b4;
  text-decoration: underline;
}

.rectangle {
  width: 1px;
  height: 50px;
  background-color: #E1E1E1;
}

.header-second-right-section {
  display: flex;
  gap: 40px;
}

/* Special */
.section-special-bloks-list {
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  grid-template-rows: repeat(2, 256px);
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  margin-bottom: 70px;
}

.section-special-bloks-item {
  position: relative;
  padding: 40px;
}

.section-special-bloks-item_a,
.section-special-bloks-item_b {
  background: url('../img/darken.png');
}

.section-special-bloks-item_a {
  grid-area: a;
}

.section-special-bloks-item_b {
  grid-area: b;
}

.section-special-bloks-item_big {
  grid-area: c;
}

.section-special-bloks-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 15px;
}

.section-special-bloks-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: var(--color-white);
  width: 300px;
  margin-bottom: 15px;
}

.section-special-bloks-header-big {
  font-size: 60px;
  line-height: 60px;
  margin-top: 170px;
}

.section-special-bloks-price {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-white);
  opacity: 80%;
  margin-bottom: 47px;
}

.section-special-bloks-price-big {
  font-size: 30px;
  line-height: 30px;
}

.section-special-bloks-detailed {
  display: inline-block;
  line-height: 16px;
  color: #FFCC66;
  background: url('../img/rectangle-1.svg') no-repeat right center;
  padding-right: 15px;
}

.section-special-bloks-detailed:hover {
  color: var(--color-white);
  text-decoration: underline;
  background: url('../img/rectangle-1\ white.svg') no-repeat right center;
}

/* About us */
.section-about-us-container {
  margin-bottom: 70px;
}

.section-about-us-text {
  max-width: 888px;
  line-height: 32px;
}

/* Services */
.section-services-container {
  margin-bottom: 70px;
}

.section-services-cards-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  gap: 23px;
}

.section-services-cards-item {
  background-color: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
}

.section-services-cards-img {
  width: 100%;
}

.section-services-cards-text-container {
  padding: 26px 45px;
}

.section-services-cards-header {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: var(--color-orange);
  background: url('../img/rectangle-2.svg') no-repeat right center;
  padding-right: 15px;
}

.section-services-cards-text {
  line-height: 32px;
  width: 402px;
  margin: 0;
}

.section-services-cards-text-banquet {
  width: 380px;
}

/* Advantages */
.advantages-container {
  margin-bottom: 70px;
}

.section-advantages-cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 275px);
  gap: 23px;
}

.section-advantages-cards-item {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 116px 42px 32px 45px;
  background-repeat: no-repeat;
  background-position: left 45px top 40px;
}

.section-advantages-cards-item-bathtub {
  background-image: url('../img/bathtub.svg');
}

.section-advantages-cards-item-hanger {
  background-image: url('../img/hanger.svg');
}

.section-advantages-cards-item-heating {
  background-image: url('../img/heating.svg');
}

.section-advantages-cards-item-hotel-key {
  background-image: url('../img/hotel-key.svg');
}

.section-advantages-cards-item-parking {
  background-image: url('../img/parking.svg');
}

.section-advantages-cards-item-reception {
  background-image: url('../img/reception.svg');
}

.section-advantages-cards-item-security-box {
  background-image: url('../img/security-box.svg');
}

.section-advantages-cards-item-swimming-pool {
  background-image: url('../img/swimming-pool.svg');
}

.section-advantages-cards-text {
  margin: 0;
  line-height: 32px;
}

/* Placement */
.placement-container {
  margin-bottom: 70px;
}

.section-placement-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 440px);
  gap: 23px;
}

.section-placement-card {
  position: relative;
  background-color: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
}

.show-more-card {
  position: relative;
}

.section-placement-card-price-rating-container {
  display: flex;
  justify-content: space-between;
}

.section-placement-card-rating-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.section-placement-card-rating-container>img {
  width: 14px;
  height: 14px;
  margin: 0;
}

.section-placement-card-price-container {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.section-placement-card-box {
  padding: 32px 45px 45px 45px;
}

.section-placement-card-price-from {
  line-height: 16px;
  color: var(--color-light-gray);
  margin: 0;
}

.section-placement-card-price-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-right: 6px;
  margin: 0;
}

.section-placement-card-price-night {
  line-height: 16px;
  margin: 0;
}

.section-placement-card-price-rating-container {
  margin-bottom: 16px;
}

.section-placement-card-hotel {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.section-placement-card-place {
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: var(--color-light-gray);
}

.section-placement-card-img-last {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.section-placement-card-link-container {
  display: flex;
  justify-content: center;
}

.section-placement-card-link {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-top: 373px;
  color: var(--color-white);
  background: url('../img/rectangle-3.svg') no-repeat center right;
  padding-right: 15px;
}

.section-placement-card-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Tour form */
.tour-form-grey-box {
  margin-bottom: 70px;
  background-color: var(--color-light-white-gray);
  border-radius: 15px;
  padding: 45px;
  width: 1170px;
}

.tour-form_heading {
  margin-left: 0;
}

.tour-white-box {
  margin: 0 auto;
  padding: 31px 28px;
  width: 1080px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.tour-selection {
  display: flex;
  gap: 41px;
  align-items: center;
}

.tour-form-editor {
  display: block;
  margin-top: 15px;
  border: none;
  width: 121px;
  font-size: 16px;
  line-height: 16px;
}

.tour-form-editor-city-country {
  width: 169px;

}

.tour-form-btn {
  margin-left: 10px;
  width: 108px;
}

.city,
.country,
.date,
.nights,
.tourists {
  font-size: 12px;
  line-height: 12px;
}

.nights,
.tourists {
  border-bottom: 1px solid var(--color-light-white-gray);
}

/*Contacts*/
.contacts-white-box {
  display: flex;
  gap: 52px;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 45px;
  margin-bottom: 40px;
}

.contacts-left-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 375px;
}

.info-row {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--color-light-white-gray);
  padding-bottom: 23px;
}

.contacts-header {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  width: 145px;
}

.contacts-text {
  line-height: 24px;
  margin: 0;
}

.contacts-phones-box {
  display: flex;
  flex-direction: column;
}

.contacts-ph-number {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-orange);
}

.contacts-ph-number:hover {
  color: var(--color-light-orange);
  text-decoration: underline;
}

.contacts-email-box {
  display: flex;
  flex-direction: column;
}

.contacts-email-adress {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-orange);
}

.contacts-email-adress:hover {
  color: var(--color-light-orange);
  text-decoration: underline;
}

.contacts-email-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-gray);
  margin: 0;
}

.contacts-text {
  font-size: 16px;
  line-height: 24px;
}

.contacts-btn {
  padding: 27px 29.5px;
  font-size: 16px;
  line-height: 16px;
  width: 215px;
}

.contacts-right-section-img {
  border-radius: 15px;
}

/* Footer */
.footer-container {
  background-color: #333333;
  border-radius: 15px;
  width: 1170px;
  background-image: url('../img/sun.png');
  background-repeat: no-repeat;
  background-position: left 739px bottom 0px;
  margin-bottom: 31px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

.footer-outer-left-column {
  display: flex;
}

.footer-left-section-container {
  display: flex;
  flex-direction: column;
  width: 302px;
  margin-right: 125px;
}

.footer-section-container-text {
  line-height: 30.4px;
  margin: 0;
  color: var(--color-white);
}

.footer-section-container-text-mark {
  margin-bottom: 37px;
}

.footer-section-container-text-info {
  margin-bottom: 40px;
}

.footer-left-section-container-href {
  line-height: 24px;
  color:var(--color-orange);
}

.footer-left-section-container-href:hover {
  color: var(--color-light-orange);
  text-decoration: underline;
}

.footer-middle-section-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-right-section-container {
  display: flex;
}

.social-networks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
